<h2>Limit character</h2>

{% set hello = 'Hello World' %}
{% set limit = 5 %}

<div class="fr-highlight fr-mt-5w">
  <p>Example: "limit_string({{ hello }}, {{ limit }} )" = {{ limit_string( hello, limit ) }}</p>
</div>

{# <h2>Get file information from a media ID</h2> #}
{# {% set get_file = get_media_info(10) %} #}